window.open {
    animation: opacize 1.5s linear;
    background-color: #2e3440ec;
}

window.close {
    animation: transparentize 1.5s linear;
    background-color: #00000000;
    opacity: 0.0;
}

@keyframes opacize {
    0% { 
        background-color: #00000000;
        opacity: 0.0;
    }
    100% {
        background-color: #2e3440ec;
		opacity: 1.0;
    }
}

@keyframes transparentize {
    0% { 
    	background-color: #2e3440ec;
    	opacity: 1.0;
    }
    100% { 
    	background-color: #00000000;
        opacity: 0.0; 
    }
}

button {
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 40px;
    transition: 0.5s;
}

label {
    background: rgba(0, 0, 0, 0.4);
    font-size: 40px;
    padding: 12px;
    border-radius: 24px;
}

.profile-label {
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
}
